<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Support.Modules.EmailCampaign.Core.Pipelines.CorrectOnHttpRequestBegin, Sitecore.Support.41336" patch:before="processor[@type='Sitecore.Modules.EmailCampaign.Core.Pipelines.OnHttpRequestBegin, Sitecore.EmailCampaign']" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>